{% extends "base.html" %}
{% load custom_tags %}
{% load static %}
{% block main %}
    {{ super }}
    <section class="portfolio-block photography">
        <div class="container">
            <h3 style="margin-top: 50px;"><i class="fa fa-flag" style="color: var(--bs-indigo);"></i>&nbsp; Upcoming
                Events</h3>
            <div class="row g-0">
                {% for event in events %}
                    <figure class="snip1527" onclick="location.href='{% url 'eventDisplay' event.club_id.id event.id %}'">
                        <div style="height: 350px">
                            <img style="object-fit:cover;height: 350px"
                                src="{% static 'img/event/' %}{{ event.logo|get_image_name_from_path }}"
                                alt="pr-sample23"/></div>
                        <figcaption>
                            <div class="date"><span class="day">{{ event.start.day }}</span><span class="month">{{ event.start|date:'M' }}</span></div>
                            <h3>{{ event.name }}</h3>
                            <h5>{{ event.club_id.name }}</h5>
                            <p>
                               {{ event.description|ellipsis }}
                            </p>
                        </figcaption>
                        <a href="#"></a>
                    </figure>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="portfolio-block photography">
        <div class="container">
            <h3 style="margin-top: 50px;"><i class="fa fa-flag" style="color: var(--bs-indigo);"></i>&nbsp; Active
                Clubs</h3>
            <div class="row g-0">
                {% for club in clubs %}
                    <figure class="snip1527" onclick="location.href='{% url 'clubDisplay' club.id %}'">
                        <div style="height: 350px">
                            <img style="object-fit:scale-down;height: 350px;margin-top: -75px"
                                src="{% static 'img/club/' %}{{ club.logo_link|get_image_name_from_path }}"
                                alt="pr-sample23"/></div>
                        <figcaption>
                            <h3>{{ club.name }}</h3>
                            <p>
                               {{ club.description|ellipsis }}
                            </p>
                        </figcaption>
                        <a href="#"></a>
                    </figure>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}