{% extends "base.html" %}
{% load static %}
{% block main %}
    <div style="margin-top: 40px;">
        <div class="container">
            <div class="row">
                <div>
                    <h2 style=" display: inline-block">{{ club.name }} > {{ event.name }} > All Forms</h2>
                    <button class="btn btn-success"
                            style="border: none;width: 151px;height: 37px;color: rgb(255,255,255);background: #8d87e3;margin-top: 10px; display: inline-block; float: right"
                            type="button" onclick="location.href='{% url 'createEventForm' club.id event.id %}'">Create
                        Form &nbsp;
                        <i class="fas fa fa-edit"></i>
                    </button>
                    <button class="btn btn-success"
                            style="border: none;width: 151px;height: 37px;color: rgb(255,255,255);background: #8d87e3;margin-top: 10px; display: inline-block; float: right"
                            type="button" onclick="location.href='{% url 'statsEvent' club.id event.id %}'">Check Stats
                        &nbsp;
                        <i class="fas fa fa-line-chart"></i>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table id="example" style="margin-bottom: 50px" class="table table-striped table-bordered"
                           cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>Form Name</th>
                            <th>Form Type</th>
                            <th>Open Date</th>
                            <th>Close Date</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% if forms|length < 1 %}
                            <td colspan="10" style="text-align: center;">No forms have been created yet for this event
                            </td>
                        {% endif %}
                        {% for form in forms %}
                            <tr>
                                <td onclick="location.href='{% url 'fillEventForm' club.id event.id form.id %}'">{{ form.form_name }}</td>
                                <td>{{ form.form_type }}</td>
                                <td>{{ form.form_start }}</td>
                                <td>{{ form.form_end }}</td>
                                <td>
                                    <button type="button" class="btn btn-danger"
                                            onclick="location.href='{% url 'deleteEventForm' club.id event.id form.id %}'">
                                        <i
                                                class="far fa-trash-alt d-xl-flex justify-content-xl-center align-items-xl-center"></i>

                                    </button>

                                    <button type="button" class="btn btn-success"
                                            onclick="location.href='{% url 'download_csv' club.id event.id form.id %}'">
                                        <i
                                                class="far fa fa-cloud-download d-xl-flex justify-content-xl-center align-items-xl-center"></i>

                                    </button>

                                    <button type="button" class="btn btn-primary"
                                            onclick="location.href='{% url 'download_csv' club.id event.id form.id %}'">
                                       <i style="color: white" class="fas fa-link d-xl-flex justify-content-xl-center align-items-xl-center"></i>
                                    </button>


                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}